@use "variables" as *;


.anime{
transition: all .5s ease-in-out;
}

#introhome{
  margin-top:$margen-top;
  @include cel{
    margin-top:$margen-top-cel;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  @include cel{
    gap: 0;
  }
  .izq{
    flex: 0 1 30%;
    border-right: solid 1px $azul;
    padding: 0 $margen;
    @include cel {
      padding: 0 1rem;
      border-right: none;
      flex: 0 1 100%
      }
   
  }
  p{
    flex: 0 1 40%;
    align-self: center;
    @include cel {
      border-right: none;
      flex: 0 1 100%
      }
   
  }
  h2{
    font-size: clamp(25px, 12vw, 16vw);
    color: $azul;
    position: relative;
    @include cel{
      font-size: 20vw;
    }
    img{
      position: absolute;
      left: -2rem;
      top: 35%;
      width: 4vw;
      height: auto;
      @include cel{
        width: 8vw;
        left: -1rem;
      }
     
    }
  }
  h2:last-child{
    margin-top: 1rem;
    font-size: clamp(25px, 3vw, 5vw);
    color: $naranja;
  }
}