---
interface Props {
  costo: number;
}
const { costo } = Astro.props;
const url = Astro.url.host

---

<div class="grid contenido" >
  <div class="flex" id="bloqueventas">
    <h3>Invitación de Boda</h3>
    <a href="https://nvite.me" class="btn"> Regresar</a>
    <a href={`${url}/bodas/nvite-bodas-1`} class="btn"> Ver variante</a>
    <a href="https://buy.stripe.com/00g4ix9sg7LRbkI7ss" class="btn" target="_blank">Comprar ${costo}</a>
  </div>
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";
  #bloqueventas {
    background-color: #484F8C;
    color: white;
    min-height: 20vh;
    display: flex;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    align-content:space-evenly;
    padding: 2rem;
    margin-bottom: 1rem;
    h3{
        color: #FFCE95;
        flex: 1 0 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: clamp(1.5rem, 2.5vw, 3rem);
    }
  }
</style>
