---
interface Props {
    texto: string;
    url: string;
}
const { texto, url } = Astro.props;
---

<a href={url} class="btn" set:html={texto}></a>
<style lang="scss">
    @import '../estilos/_variables.scss';
    .btn {
       padding: 1rem $margen-cel;
       color: white;
       border: 1px solid white;
       margin: .5rem .5rem .5rem 0;
       @include cel {
           width: 100%;
       }
    }
</style>