---
interface Props {
  icono: string;
  texto: string;
}
const { icono, texto } = Astro.props;
---

<div class="titulo">
  {
   texto == "NUESTRA BODA" ? <svg width="48" height="40" viewBox="0 0 48 40" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M47.3846 17.0297C47.7949 17.4823 48 18.0198 48 18.6422C48 19.2645 47.7949 19.802 47.3846 20.2546L39.4406 28.232C39.0303 28.6846 38.5082 28.9109 37.8741 28.9109C37.2401 28.9109 36.7179 28.6846 36.3077 28.232L33.1189 25.0637C32.6713 24.611 32.4476 24.0736 32.4476 23.4512C32.4476 22.8289 32.6713 22.2914 33.1189 21.8388C33.5664 21.4239 34.0979 21.2164 34.7133 21.2164C35.3287 21.2164 35.8601 21.4239 36.3077 21.8388L37.8741 23.4229L44.1958 17.0297C44.6434 16.6148 45.1748 16.4074 45.7902 16.4074C46.4056 16.4074 46.9371 16.6148 47.3846 17.0297ZM20.8671 39.4342L15.2727 34.2857C12.5874 31.834 10.2844 29.6464 8.36364 27.7228C6.44289 25.7992 4.85781 23.9887 3.60839 22.2914C2.35897 20.5941 1.44522 18.9533 0.867133 17.3692C0.289044 15.785 0 14.1254 0 12.3904C0 8.84488 1.17483 5.89345 3.52448 3.53607C5.87413 1.17869 8.80186 0 12.3077 0C14.2471 0 16.0932 0.405469 17.8462 1.21641C19.5991 2.02735 21.1096 3.18718 22.3776 4.6959C23.6457 3.18718 25.1562 2.02735 26.9091 1.21641C28.662 0.405469 30.5082 0 32.4476 0C35.6177 0 38.2751 0.97124 40.4196 2.91372C42.5641 4.8562 43.8974 7.12871 44.4196 9.73126C43.6737 9.42951 42.8904 9.24092 42.0699 9.16549C41.2494 9.09005 40.4103 9.05233 39.5524 9.05233C36.3823 9.05233 33.4732 10.3442 30.8252 12.9279C28.1772 15.5116 26.8531 18.7459 26.8531 22.6308C26.8531 24.4413 27.2448 26.2801 28.028 28.1471C28.8112 30.0141 29.9114 31.5323 31.3287 32.7016C30.62 33.3428 29.697 34.1631 28.5594 35.1627C27.4219 36.1622 26.4429 37.0391 25.6224 37.7935L23.8322 39.4342C23.4219 39.8114 22.9277 40 22.3496 40C21.7716 40 21.2774 39.8114 20.8671 39.4342Z" fill="#8C6363"/>
</svg> : <svg width="29" height="41" viewBox="0 0 29 41" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.5 0C6.48357 0 0 6.4165 0 14.35C0 25.1125 14.5 41 14.5 41C14.5 41 29 25.1125 29 14.35C29 6.4165 22.5164 0 14.5 0ZM14.5 19.475C11.6414 19.475 9.32143 17.179 9.32143 14.35C9.32143 11.521 11.6414 9.225 14.5 9.225C17.3586 9.225 19.6786 11.521 19.6786 14.35C19.6786 17.179 17.3586 19.475 14.5 19.475Z" fill="#864E4E"/>
</svg>

  }
   <br>
  <h2>{texto}</h2>
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";
  path {
    fill: $secundario;
  
  }
  .titulo {
    margin: $margen-top $margen $margen-cel $margen;
    text-align: center;
    @include cel {
      margin: $margen-cel $margen-min $margen-min $margen-min;
    }
    h2 {
      color: $secundario;
    }
  }
  img {
    margin: $margen-min;
    filter: saturate(2951%)  contrast(52%)
  }
</style>
<script>
  import SplitType from "split-type";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // split text


  // animacion al scroll
  gsap.registerPlugin(ScrollTrigger);
  
  const titulo = gsap.utils.toArray(".titulo");
  const img = gsap.utils.toArray(".titulo img");
  
  titulo.forEach((ele , id) => {


    const texto = new SplitType(ele as HTMLElement, {
      types: "chars",
    });

    
    gsap.from(img[id] as HTMLElement, {
      scrollTrigger: {
        trigger: img[id] as HTMLElement,
        start: "top 100%",
        end: "bottom 70%",
      },
      ease: "power2.out",
      y: -30,
      opacity: 0,
      delay: 0.7,
    });

    gsap.from(texto.chars, {
      scrollTrigger: {
        trigger: ele as HTMLElement,
        start: "top 100%",
        end: "bottom 70%",
      },
      // scaleY: .5,
      delay: 1,
      ease: "power2.out",
      y: -30,
      opacity: 0,
      stagger: 0.1,
    });
  });
</script>