---
const base = import.meta.env.BASE_URL
---

<footer>
  <p>Invitación desarrollada y diseñada por:</p>
  <a href="https://nvite.me" target="_blank">
    <img
      src=`${base}/nvite-logo.svg`
      alt="invitaciones digitales para bodas, quince años y eventos"
    />
    <ul>
      <li>
        <a href="https://www.instagram.com/invitacionesnvite/" target="_blank">
<svg width="24" height="24" viewBox="0 0 24 24"><path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/></svg>

        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/invitacionesNvite" target="_blank">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
        
          >
            <g clip-path="url(#clip0_10_119)">
              <path
                d="M22 12C22 6.48 17.52 2 12 2C6.48 2 2 6.48 2 12C2 16.84 5.44 20.87 10 21.8V15H8V12H10V9.5C10 7.57 11.57 6 13.5 6H16V9H14C13.45 9 13 9.45 13 10V12H16V15H13V21.95C18.05 21.45 22 17.19 22 12Z"
                fill="black"></path>
            </g>
            <defs>
              <clipPath id="clip0_10_119">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.tiktok.com/@invitacionesnvite" target="_blank">
            <svg viewBox="0 0 333335 333336">
                <g transform="matrix(1.04763,0,0,1.04763,-5865.43,-4511.92)">
                    <path d="M322918,48738.3L322918,278056C322918,302103 303394,321626 279347,321626L50029.8,321626C25982.7,321626 6459.5,302103 6459.5,278056L6459.5,48738.3C6459.5,24691.2 25982.7,5168 50029.8,5168L279347,5168C303394,5168 322918,24691.2 322918,48738.3ZM205297,47974.4L205297,47975.7L170541,47974.4L170541,190383C177619,280854 75190.8,247444 104557,191288C109310,182201 117984,177286 133986,174649L133986,136005C65478.1,146916 58600.9,220507 77572.5,251119C106108,297163 205992,290097 205839,197248L205839,126110C225247,137782 241903,144046 260935,142172L260935,104115C228126,102010 209262,81823.2 205297,47974.4Z"/>
                </g>
            </svg>
            
        </a>
      </li>
    </ul>
  </a>
  <p>© 2022 - {new Date().getFullYear()} Todos los derechos reservados</p>
</footer>

<style lang="scss">
  @import "../estilos/_variables.scss";
  footer {
    border-top: solid 1px $secundario;
    padding: $margen 0;
    margin: 0 auto;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: $margen-min;
  }
  li {
    list-style: none;
    svg {
      width: 2rem;
      height: auto
    }
    path{
        fill: $primario;
    }
  }
</style>
