---
interface Props {
  frase: string;
}
const { frase } = Astro.props;
---

<p class="frase">
  {frase}
</p>
<style lang="scss">
  @import "../estilos/_variables.scss";
  .frase {
    color: $primario;
    font-family: "Italiana", serif;
    font-size: clamp(3rem, 5vw, 7vw);
    text-align: center;
    margin: $margen-top $margen-min 0 $margen-min;
    padding: $margen $margen-min;
    border-top: 1px solid $primario;
    border-bottom: 1px solid $primario;
  }
</style>
<script>
  import SplitType from "split-type";
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // split text
  const frase = document.querySelector(".frase") as HTMLElement;
  const texto = new SplitType(frase, {
    types: "words",
  });
  // animacion al scroll
  gsap.registerPlugin(ScrollTrigger);

  let mm = gsap.matchMedia();
  mm.add("(min-width: 800px)", () => {
    // desktop setup code here...
    gsap.from(texto.words, {
    scrollTrigger: {
      trigger: frase,
      start: "top 90%",
      end: "bottom 70%",
      scrub: true,
    },
    // scaleY: .5,
    ease: "power2.out",
    y: -30,
    opacity: 0,
    stagger: 0.1,
  });
  })

  mm.add("(max-width: 799px)", () => {
    // mobile setup code here...
    gsap.from(texto.words, {
    scrollTrigger: {
      trigger: frase,
      start: "top 70%",
      end: "bottom 40%",
      scrub: true,
    },
    // scaleY: .5,
    ease: "power2.out",
    y: -30,
    opacity: 0,
    stagger: 0.1,
  });
  })

</script>
