---
interface Props {
  frase: string;
  beneficiario: string;
  banco: string;
  cuenta: string;
}
const { frase, beneficiario, banco, cuenta } = Astro.props;
---

<div id="bandeja">
  <div id="regalo">
    <svg viewBox="0 0 35 37" fill="none">
      <path
        d="M3.5 33.4762V17.619C2.5375 17.619 1.71354 17.274 1.02812 16.5839C0.342708 15.8938 0 15.0643 0 14.0952V10.5714C0 9.60238 0.342708 8.77282 1.02812 8.08274C1.71354 7.39266 2.5375 7.04762 3.5 7.04762H9.1C8.95417 6.78333 8.85938 6.50437 8.81563 6.21071C8.77187 5.91706 8.75 5.60873 8.75 5.28571C8.75 3.81746 9.26042 2.56944 10.2812 1.54167C11.3021 0.513889 12.5417 0 14 0C14.6708 0 15.2979 0.124802 15.8812 0.374405C16.4646 0.624008 17.0042 0.969048 17.5 1.40952C17.9958 0.939683 18.5354 0.587302 19.1187 0.352381C19.7021 0.11746 20.3292 0 21 0C22.4583 0 23.6979 0.513889 24.7188 1.54167C25.7396 2.56944 26.25 3.81746 26.25 5.28571C26.25 5.60873 26.2208 5.90972 26.1625 6.18869C26.1042 6.46766 26.0167 6.75397 25.9 7.04762H31.5C32.4625 7.04762 33.2865 7.39266 33.9719 8.08274C34.6573 8.77282 35 9.60238 35 10.5714V14.0952C35 15.0643 34.6573 15.8938 33.9719 16.5839C33.2865 17.274 32.4625 17.619 31.5 17.619V33.4762C31.5 34.4452 31.1573 35.2748 30.4719 35.9649C29.7865 36.655 28.9625 37 28 37H7C6.0375 37 5.21354 36.655 4.52812 35.9649C3.84271 35.2748 3.5 34.4452 3.5 33.4762ZM21 3.52381C20.5042 3.52381 20.0885 3.69266 19.7531 4.03036C19.4177 4.36806 19.25 4.78651 19.25 5.28571C19.25 5.78492 19.4177 6.20337 19.7531 6.54107C20.0885 6.87877 20.5042 7.04762 21 7.04762C21.4958 7.04762 21.9115 6.87877 22.2469 6.54107C22.5823 6.20337 22.75 5.78492 22.75 5.28571C22.75 4.78651 22.5823 4.36806 22.2469 4.03036C21.9115 3.69266 21.4958 3.52381 21 3.52381ZM12.25 5.28571C12.25 5.78492 12.4177 6.20337 12.7531 6.54107C13.0885 6.87877 13.5042 7.04762 14 7.04762C14.4958 7.04762 14.9115 6.87877 15.2469 6.54107C15.5823 6.20337 15.75 5.78492 15.75 5.28571C15.75 4.78651 15.5823 4.36806 15.2469 4.03036C14.9115 3.69266 14.4958 3.52381 14 3.52381C13.5042 3.52381 13.0885 3.69266 12.7531 4.03036C12.4177 4.36806 12.25 4.78651 12.25 5.28571ZM3.5 10.5714V14.0952H15.75V10.5714H3.5ZM15.75 33.4762V17.619H7V33.4762H15.75ZM19.25 33.4762H28V17.619H19.25V33.4762ZM31.5 14.0952V10.5714H19.25V14.0952H31.5Z"
        fill="white"></path>
    </svg>
    <h2>Sugerencia de regalos</h2>

    <p>{frase}</p>
    aqui los botones
  </div>
  <div id="transferencias">
    <h3>Transferencias:</h3>
    <ul>
      <li><b>Beneficiario</b>: {beneficiario}</li>
      <li><b>Banco</b>: {banco}</li>
      <li><b>Cuenta</b>: {cuenta}</li>
    </ul>
  </div>
</div>
<style lang="scss">
  @import "../estilos/_variables.scss";
  #regalo {
    h2 {
      color: white;
      border-bottom: 1px solid white;
      margin-bottom: $margen-min;
      padding-bottom: $margen-min;
    }
    margin-top: $margen;
    padding: $margen;
    background: $primario;
    color: white;
    text-align: center;
    svg {
      max-width: 2.5rem;
      height: auto;
      margin: 0 auto;
    }
  }
  #transferencias {
    h3 {
      color: white;
      font-size: clamp(2.2rem, 1.5vw, 2rem);
    }
    ul {
      text-align: left;
    }
    padding: $margen;
    display: flex;
    flex-wrap: wrap;
    gap: $margen-cel;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: $margen;
    background: $secundario;
    color: white;
  }
  #bandeja {
    margin: 0 auto;
    max-width: 60%;
    @include cel {
      max-width: 100%;
    }
  }
</style>
